<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xiaohantv">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|navigation|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/oip_d"
        android:label="@string/app_name"
        android:roundIcon="@drawable/oip_d"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.XiaohanTV"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText"
        tools:targetApi="s">
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>